#warn {
	color: red;
	font-weight: bold;
}

.smallinput {
	width: 5rem;
}

body {
	margin: 0;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* https://www.w3schools.com/howto/howto_js_draggable.asp */
#options {
	position: absolute;
	z-index: 9;
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
	text-align: center;
	padding: 1rem;
	resize: both;
	overflow: auto;
}
#optionsheader {
	padding: 10px;
	cursor: move;
	z-index: 10;
	background-color: #2196F3;
	color: #fff;
}

.hidden {
	visibility: hidden;
	width: 0px;
	height: 0px;
}